*{
    font-size: calc(10px + 0.5vw);
    margin: 0px;
    padding: 0px;
    font-family: "Roboto";
    letter-spacing: 1px;
}


.container{
    display: grid;
    height: 100vh;
    box-sizing: border-box;
    grid-template-columns: 1fr 5fr;
}

.nav{
    display: grid;
    grid-template-rows: 1fr 5fr 3fr;
    grid-row: 1/2;
    height: 100vh;
    background-color: #3b82f6;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 10px;
    box-sizing: border-box;
    color: white;
}

.title-area{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;
}

.title{
    font-size: 1.8em;
    font-weight: 600;
}

.menu{
    padding-left: 25px;
    display: grid;
    padding-top: 50px;
    grid-template-rows: repeat(6,50px);
    justify-content: start;
}

.extra-menu{
    padding-left: 25px;
    display: grid;
    padding-bottom: 75px;
    grid-template-rows: repeat(3,50px);
    justify-content: start;
  
}

.link{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;
    gap:10px;
    

}

.page{
    display: grid;
    grid-template-rows: 1fr 8fr;
    grid-auto-flow: row;
    height: 100vh;
    box-sizing: border-box;
}


.header{
    display: grid;
    background-color: white;
    grid-template-rows: 1fr 1fr ;
    padding: 15px 50px;
}

.header-top{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 0.5fr 10fr 0.5fr 0.5fr 1fr;
    place-items: center;
    gap:10px;
}

.icon{
    fill:black;
    width:1.5rem;
    height: auto;
}

form{
    justify-self: start;
}

input{
    width: clamp(100px,40rem,1000px);
    height:40px;
    border-radius: 15px;
    border: 1px solid rgb(136, 136, 136,0.3);
    background-color: rgb(136, 136, 136,0.3);
    font-size: 1rem;
}

.small-pic img{
    width:2.5rem;
    height: auto;
    border-radius: 50%;
   
}

.header-bottom{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
    place-items: center;
    gap:10px;
}

.large-pic img{
    width: 4.5rem;
    height: auto;
    border-radius: 50%;
}

.intro{
    font-weight: 600;
    justify-self: start;
}

.welcome{
    font-size: 1rem;
}

.name{
    font-size: 1.5rem;
}

button{
    border:none;
    background-color: #3b82f6;
    width:10rem;
    height:2rem;
    font-size: 0.85rem;
    border-radius: 25px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.content{
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: rgb(122, 121, 121,0.2);
    padding-bottom: 35px;
    box-sizing: border-box;
   
}

.projects-area{
    display: grid;
    grid-row: 1/3;
    grid-template-rows: 30px 20fr;
    margin: 25px;
    margin-bottom: 0px;

}

.title-projects{
    font-size: 1rem;
    font-weight: 600;
}

.projects-grids{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px,1fr));
    gap:25px;
   
}

.project-grid{
    display: grid;
    grid-template-columns: 0.4fr 25fr;
    background-color: white;
    border-radius: 15px;
    
   
}

.side-color{
    background-color: rgba(255, 123, 0, 0.8);
    grid-row: 1/5;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
   

}

.main-project{
    display: grid;
    padding: 25px 15px;
    gap:5px;
}

.project-caption{
    font-size: 0.95rem;
    font-weight: 600;
    align-self: center;
}

.project-description{
    padding-right: 175px;
    color: gray;
    font-size: 0.85rem;
}

.grid-options{
    justify-self: end;
    letter-spacing: 25px;
    padding-top: 25px;
    padding-right: 15px;
}

.side-content{
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 0px;
}

.title-announcements{
    display: grid;
    grid-template-rows: 30px 10fr;
    margin: 25px;
    margin-bottom: 0px;

}

.announcements{
    font-size: 1rem;
    font-weight: 600;
    gap:5px;
}

.announcement-grids{
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1px 1fr 1px 1fr;
    padding: 25px 15px;
    border-radius: 15px;
    gap:5px;

}

.announcement-grid{
    display: grid;
    grid-template-rows: 1fr 2fr;
    gap:2px;
}

.side-caption{
    font-size: 0.80rem;
    font-weight: 600;
}

.announcement-description{
    font-size: 0.75rem;
    color: gray;
}

.row-border{
    border-top: 1px solid rgb(0, 0, 0,0.09);
    height: 1px;
}

.announcement-grids>.announcement-grid{
    margin-top: 10px;
}

.title-trending{
    display: grid;
    grid-template-rows: 30px 10fr;
    margin: 25px;
    margin-bottom: 0px;
}

.trending{
    font-size: 1rem;
    font-weight: 600;
    gap:5px;
}

.trending-grids{
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 25px 15px;
    border-radius: 15px;
    gap:10px;
    
}

.trending-grid{
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-auto-flow: column;
    align-content: center;
    gap:10px; 
}

.other-user-pic{
    width:2.5rem;

}

.other-user-pic img{
    width:2.5rem;
    height:auto;
    border-radius: 50%;

}

.other-user-info{
    align-self: center;
}

.other-user-id{
    font-size: 0.8rem;
}

.other-user-name{
    font-size: 0.75rem;
    color: gray;

}


.main-logo{
    width: 4.5rem;
    height: auto;
}

.logo{
    width:2rem;
    height: auto;
}

svg{
    fill:white;
}

.link:hover .logo, .link:hover a{
    fill:rgb(0, 0, 0,0.5);
    color:rgb(0, 0, 0,0.5);
    cursor: pointer;
    font-size: 1.5rem;
}

button:hover{
    color:rgb(0, 0, 0,0.5);
}

