*{
    font-size: calc(10px + 0.5vw);
    margin: 0px;
    padding: 0px;
    font-family: "Roboto";
    letter-spacing: 1px;
}


.container{
    display: grid;
    height: 100vh;
    box-sizing: border-box;
    grid-template-columns: 1fr 5fr;
}

.nav{
    display: grid;
    grid-template-rows: 1fr 15fr 3fr;
    height: 100vh;
    background-color: #3b82f6;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 10px;
    box-sizing: border-box;
    color: white;
}

.title-area{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;
}

.title{
    font-size: 1.8em;
    font-weight: 600;
}

.menu{
    padding-left: 25px;
    display: grid;
    padding-top: 50px;
    grid-template-rows: repeat(6,50px);
    justify-content: start;
}

.extra-menu{
    padding-left: 25px;
    display: grid;
    padding-bottom: 75px;
    grid-template-rows: repeat(3,50px);
    justify-content: start;
}


.link{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;
    gap:10px;
    

}

.page{
    display: grid;
    grid-template-rows: 1fr 8fr;
    grid-auto-flow: row;
    height: 100vh;
    box-sizing: border-box;
}


.header{
    display: grid;
    background-color: white;
    grid-template-rows: 1fr 1fr ;
    padding: 15px 50px;
}

.header-top{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 0.5fr 10fr 0.5fr 0.5fr 1fr;
    place-items: center;
    gap:10px;
}

.icon{
    fill:black;
    width:1.5rem;
    height: auto;
}

form{
    justify-self: start;
}

input{
    width: clamp(100px,40rem,1000px);
    border-radius: 15px;
    border: 1px solid rgb(136, 136, 136,0.3);
    background-color: rgb(136, 136, 136,0.3);
    font-size: 1.75rem;
}

.small-pic img{
    width:2.5rem;
    height: auto;
    border-radius: 50%;
   
}

.header-bottom{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
    place-items: center;
    gap:10px;
}

.large-pic img{
    width: 4.5rem;
    height: auto;
    border-radius: 50%;
}



.content{
  
    background-color: gray;
    box-sizing: border-box;
}

.main-logo{
    width: 4.5rem;
    height: auto;
}

.logo{
    width:2rem;
    height: auto;
}

svg{
    fill:white;
}

.link:hover .logo, .link:hover a{
    fill:black;
    color: black;
    cursor: pointer;
    font-size: 1.5rem;
}

